* {
    box-sizing: border-box;
}

body {
    background: -webkit-linear-gradient(rgba(28, 28, 31, 0.1), rgba(28, 28, 31, 0.8)), -webkit-linear-gradient(rgba(28, 28, 31, 0.5), rgba(28, 28, 31, 0.3)), url("movie-img/bg-img.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: rgba(28, 28, 31, 1);
    font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
    text-align: center;
    margin-top: 200px;
    margin-bottom: auto;
    font-size: 45px;
    font-weight: 100;
    padding: 35px;
    color: white;
}



form input{
    border: none;
    border-bottom:  3px solid ghostwhite;
    padding: 8px 2px;
    height: 50px;
    width: 400px;
    color: ghostwhite;
    font-size: 35px;
    background: none;
    font-size: 35px;
    font-weight: 200;
}



form.js-search-form {
    display: block;
    text-align: center;
}

#findIt {
    border: 3px solid ghostwhite;
    padding: 8px 13px;
    color: ghostwhite;
    font-size: 35px;
    font-weight: 100;
    letter-spacing: 2px;
    background: rgba(255, 255, 255, 0.25);
    text-shadow: 0 0 3px #555555;
    position: relative;
    left: -3px;
}




.js-youtube-search-results {
    text-align: center;
    margin-top: 100px;
    margin-left: 50px;
    float: left;
    font-size: 30px;
    color: ghostwhite;
    display: inline-block;
    background: rgba(255, 255, 255, 0.1);
    list-style-type: none;
    padding-right: 50px;
    padding-left: 50px;
}


.js-wiki-search-results {
    text-align: center;
    display: inline-block;
    float: right;
    margin-top: 10px;
    font-size: 30px;
    color: ghostwhite;
    list-style-type: none;
    background: rgba(255, 255, 255, 0.1);
}


.js-dive-search-results {
    text-align: center;
    display: inline-block;
    font-size: 30px;
    margin-top: 10px;
    color: ghostwhite;
    list-style-type: none;
    background: rgba(255, 255, 255, 0.1);
}






