* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background: -webkit-linear-gradient(rgba(28, 28, 31, 0.1), rgba(28, 28, 31, 0.8)), -webkit-linear-gradient(rgba(28, 28, 31, 0.5), rgba(28, 28, 31, 0.3)), url("movie-img/bg-img.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: rgba(28, 28, 31, 1);
    font-family: 'Open Sans Condensed', sans-serif;
}

.intro {
    text-align: center;
    margin: 1rem auto;
}

h1 {
    text-align: center;
    font-size: 50px;
    padding: 2rem;
    color: white;
}

.logo {
    height: 50px;
    margin-right: 2rem;
}

h2 {
    text-align: center;
    margin-top: 200px;
    margin-bottom: auto;
    font-size: 35px;
    font-weight: 100;
    padding: 35px;
    color: white;
}

form input {
    border: none;
    border-bottom: 3px solid ghostwhite;
    padding: 8px 2px;
    height: 50px;
    width: 400px;
    color: ghostwhite;
    font-size: 35px;
    background: none;
    font-size: 35px;
    font-weight: 200;
}



form.js-search-form {
    display: block;
    text-align: center;
}


button {
    border: 3px solid ghostwhite;
    padding: 8px 13px;
    color: ghostwhite;
    font-size: 35px;
    font-weight: 100;
    letter-spacing: 2px;
    background: rgba(255, 255, 255, 0.25);
    text-shadow: 0 0 3px #555555;
    position: relative;
    left: -3px;
}




.js-youtube-search-results,
.js-wiki-search-results,
.js-dive-search-results {
    text-align: center;
    margin-top: 100px;
    color: ghostwhite;
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.1);
    list-style-type: none;
    padding-right: 50px;
    padding-left: 50px;
}

.js-youtube-search-results li,
.js-wiki-search-results li,
.js-dive-search-results li {
    width: 48%;
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1rem;
    vertical-align: top;
}

.js-dive-search-results li {
    height: 300px;
    overflow-x: auto;
}

.js-youtube-search-results p {
    font-size: 25px;
    text-align: left;
}

.js-youtube-search-results img {
    width: 100%;
}

footer a {
    color: ghostwhite;
}

footer a:visited {
    color: blue;
}

footer li {
    list-style-type: none;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    color: ghostwhite;
}




@media only screen and (max-width: 800px) {
    .js-youtube-search-results,
    .js-wiki-search-results,
    .js-dive-search-results {
        width: 95%;

    }

    .js-youtube-search-results li,
    .js-wiki-search-results li,
    .js-dive-search-results li {
        width: 100%;
        display: block;
    }

}
